.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

button {
  border-radius: 10px;
  color: white;
  margin-top: "15px";
  transition: "0.3s";
  font-weight: "bold";
  cursor: "pointer";
}

button:hover {
  background-color: "#e6c948eb";
  transform: "scale(1.05)";
}


